<html>
    <head>
        <title>Todo List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head> 
    <body>
        <div id="todo-table">
            <form >
                <input type="text" name="item" placeholder="Add new item" required>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <li>Item1</li>
                <li>Item2</li>
                <li>Item3</li>
            </ul>
        </div>
    </body>
</html>
https://youtu.be/NA21dUBfJhw?list=PL4cUxeGkcC9gcy9lrvMJ75z9maRw4byYp